<footer>
  <div class="container">

    <hr>

    <div class="row" id="additional-links">
      <div class="col-md-4" >
        <ul>
          <li><h5>Activities</h5></li>
          <li title="Workshops"><a href="/workshops" >Workshops</a></li>
          <li title="Visit"><a href="/visit" >Visiting</a></li>
        </ul>
      </div>
      <div class="col-md-4">
        <ul>
          <li><h5>News and Information</h5></li>
          <li title="Press"><a href="/press" >Press</a></li>
          <li title="Opensource Resources"><a href="https://opensource.lakayvet.com" target="_blank">Opensource</a></li>
        </ul>
      </div>
      <div class="col-md-4">
        <ul>
          <li><h5>WORK WITH US</h5></li>
          <li title="Careers"><a href="/careers" >CAREERS</a></li>
          <li title="Research"><a href="/research" >Research</a></li>
        </ul>
      </div>
    </div>

    <hr>

    <div class="row" id="additional-links">
      <div class="col-md-4" >
        <ul>
          <li><h5><a href="https://shop.lakayvet.com" target="_blank">SHOP PRODUCTS</a></h5></li>
        </ul>
      </div>
      <div class="col-md-4" id="social-media-links">
        <ul class="list-inline social-buttons" style="font-size:22px;padding-left:25%;">
          <li title="Email"><a href="mailto:info@lakayvet.com?Subject=Web%20Inquiry" target="_blank"><i class="fa fa-envelope"></i></a>
          </li>
          <li title="Twitter"><a href="https://twitter.com/lakay_vet?lang=en" target="_blank"><i class="fa fa-twitter"></i></a>
          </li>
          <li title="Facebook"><a href="http://fb.me/lakayvet" target="_blank"><i class="fa fa-facebook"></i></a>
          </li>
          <li title="LinkedIn"><a href="https://www.linkedin.com/company-beta/18135580/" target="_blank"><i class="fa fa-linkedin"></i></a>
          </li>
        </ul>
      </div>
      <div class="col-md-4">
        <ul>
          <li><h5><a href="https://portal.lakayvet.com" target="_blank">PARTNER PORTAL</a></h5></li>
        </ul>
      </div>
    </div>

  </div><!-- .container -->
</footer>


<!-- jQuery -->
<script type="application/javascript" src="/jquery/jquery.min.js"></script>
<!-- Bootstrap Core JavaScript -->
<script type="application/javascript" src="/bootstrap/js/bootstrap.min.js"></script>
<!-- Plugin JavaScript -->
<script type="application/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
<!-- Theme JavaScript -->
<script type="application/javascript" src="/dist/js/grayscale.min.js"></script>
<!-- Background Image Slideshow JavaScript -->
<% if (page_name == 'home') { %>
<script type="application/javascript" src="/dist/js/bg-slideshow.min.js"></script>
<% } %>
