# Ignore Node build artifacts
node_modules
npm-debug.log

# Ignore .env file
*.env
.DS_Store

# Ignore config files
config/development.json

# Ignore log files
logs/

# Ignore Docker
Dockerfile
docker-compose.yml

# Ignore vendor file
vendor/
