footer #additional-links {
  text-align: left;
  text-transform: uppercase;
  font-family: "Montserrat";
  font-size: 11px;
}

footer ul {
  list-style: none;
  padding-left: 25%;
}

footer #social-media-links {
  padding: 10px 0 10px 0;
}

/*.video-container {
  position:relative;
  padding-bottom:56.25%;
  padding-top:30px;
  height:0;
  overflow:hidden;
}

.video-container iframe, .video-container object, .video-container embed {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
}*/
