<html lang="en">
<!DOCTYPE html>

<head>
<% include ../partials/header %>
</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
    <% include ../partials/nav %>
    <%- req.toastr.render() %>

    <!-- Join Us Section -->
    <section id="join" style="font-family: Montserrat;" class="container content-section text-center">
        <div class="container">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>CAREER OPPORTUNITIES</h2>
            </div>

            <div class="col-lg-12 text-left">

              <h3 class="section-subheading text-muted">FULL-TIME & PART-TIME POSITIONS</h3>
              <p>
                We are constantly seeking passionate and motivated professionals that want to be a part of creating a strong, sustainable Haiti. If you are interested in joining our team, please explore open positions and apply.
              </p>

              <h6><a target="_blank" href="https://drive.google.com/open?id=0Bxyt-TMS1yL1LTlOdU9Na3Exa2M">EXPLORE OPEN POSITIONS</a></h6>
              <br/><br/><br/>


              <h3 class="section-subheading text-muted">INTERNSHIP AND VOLUNTEER PROGRAMS</h3>
              <p>
                Our internship program is an awesome opportunity to explore working in an environment where each individual is challenged and given the opportunity to find creative solutions that can be applied to global sustainability issues. We accept both Haitian and international students in order to foster a rich cultural experience.
              </p>

              <h6><a target="_blank" href="https://drive.google.com/open?id=0Bxyt-TMS1yL1bUpSRVZOZ2VoSHc">LEARN MORE</a></h6>
              <br/><br/><br/>

            </div>

            <div class="col-lg-12 text-center">
                <h3><a class="btn btn-success btn-lg" target="_blank" href="https://goo.gl/forms/oUxHPhwIfbHEkvXm1"> APPLY NOW!</a></h3>
                <p style="font-size:11px;"><i> If you don't have access to a computer or would like to apply by phone please call (US) (408) 475-1728 or (HT) +509 49 01 33 11</i></p>
            </div>

        </div>

    </section>

    <% include ../partials/footer %>

</body>

</html>
