<html lang="en">
<!DOCTYPE html>

<head>
  <% include ../partials/header %>
</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
<% include ../partials/nav %>

<!-- Intro Header -->
<header class="intro">
  <div class="intro-body">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h1 class="brand-heading">SHUCKS....</h1>
          <p class="intro-text">There was an error. We'll get on it asap!</p>
          <a href="#about" class="btn btn-circle page-scroll">
            <i class="fa fa-angle-double-down animated"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</header>

<% include ../partials/footer %>

</body>

</html>
