<html lang="en">
<!DOCTYPE html>

<head>
<% include ../partials/header %>
</head>

<body id="page-top" data-spy="scroll" style="font-family: Montserrat;" data-target=".navbar-fixed-top">
    <% include ../partials/nav %>
    <%- req.toastr.render() %>

    <section id="join" class="container content-section text-center">
        <div class="container">

            <div class="col-lg-8 col-lg-offset-2">
                <h2>PRESS</h2>
            </div>

            <div class="row">
              <div class="col-lg-12 text-center">
                <p>Please submit all press inquiries to <img src="/dist/img/press_email.png">.</p>
                <p>.</p>
                <br>
              </div>
            </div>

            <div class="row text-left">

              <div class="col-md-6" style="color:rgb(255,255,255);font-family:Montserrat;font-size:12px;background:rgba(0,0,0);border-radius:8px;">
                  <h3 class="section-subheading text-muted">PRESS RELEASES</h3>
                  <p>Press releases are prepared and released as needed. If you have questions or concerns regarding this process, please let us know. See past press releases and our press kit below.</p>
                  <br>
                  <h6><a target="_blank" href="https://drive.google.com/drive/folders/0Bxyt-TMS1yL1N01iUW1wUGJzSWM?usp=sharing">PAST PRESS RELEASES</a></h6>
                  <h6><a target="_blank" href="https://drive.google.com/drive/folders/0Bxyt-TMS1yL1SHpXdmt5X0RRZmM?usp=sharing">PRESS KIT</a></h6>
              </div>

              <div class="col-md-6" style="color:rgb(255,255,255);font-family:Montserrat;font-size:12px;background:rgba(0,0,0);border-radius:8px;">
                  <h3 class="section-subheading text-muted">PRESS SUBMISSIONS</h3>
                  <p>Though we are not a news agency, part of our mission is to help promote similar organizations including our formal partners. Please contact us for inquiries.</p>
              </div>

            </div>

        </div> <!-- container -->

    </section>


    <% include ../partials/footer %>

</body>

</html>
