<html lang="en">
<!DOCTYPE html>

<head>
<% include ../partials/header %>
</head>

<body id="page-top" style="font-family: Montserrat;text-align: justify;" data-spy="scroll" data-target=".navbar-fixed-top">
    <% include ../partials/nav %>
    <%- req.toastr.render() %>

    <section id="join" class="container content-section text-center">
        <div class="container">

            <div class="col-lg-8 col-lg-offset-2">
                <h2>RESEARCH</h2>
            </div>

            <div class="row">
              <div class="col-lg-12 text-left">
                  <p>We host graduate students from universities around the world to give them hands-on experience. We work with graduate students in fields such as recycling, agriculture, waste to energy and social impact.</p>
                  <br>

                  <div class="row text-center">
                    <div class="col-lg-12">
                      <h6><a target="_blank" href="https://drive.google.com/drive/folders/0Bxyt-TMS1yL1N01iUW1wUGJzSWM?usp=sharing">CHECK OUT OUR STUDENT PROGRAMS!</a></h6>
                    </div>
                  </div>
              </div>
            </div>

            <div class="row">
              <div class="col-lg-12 text-left">
                  <!-- <blockquote>
                    <p class="quotation">
                    No doubt one may quote history to support any cause, as the devil quotes scripture.
                    No doubt one may quote history to support any cause, as the devil quotes scripture.
                    No doubt one may quote history to support any cause, as the devil quotes scripture.
                    No doubt one may quote history to support any cause, as the devil quotes scripture.
                    </p>
                    <footer>— First Last</footer>
                  </blockquote> -->
              </div>
            </div>

        </div> <!-- container -->

    </section>

    <% include ../partials/footer %>

</body>

</html>
