<html lang="en">
<!DOCTYPE html>

<head>
<% include ../partials/header %>
</head>

<body id="page-top" data-spy="scroll" style="font-family: Montserrat;" data-target=".navbar-fixed-top">
    <% include ../partials/nav %>
    <%- req.toastr.render() %>

    <section id="join" class="container content-section text-center">
        <div class="container">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>VISITING</h2>
            </div>

            <div class="row">
              <div class="col-lg-12 text-left">
                <h3 class="section-subheading text-muted">Educational Visits</h3>
                  <p>We host tours of the Port-au-Prince facility in English, French or Haitain Creole on a case by case basis and will spend 3-4 hours showing the recycling systems, explaining waste as a resource, and doing activities. If you would like to visit, please email us with your group size and ages as well as the institution you are a part of. </p>
                  <br/>
              </div>
            </div>

        </div>

    </section>

    <% include ../partials/footer %>

</body>

</html>
